NEXT_PUBLIC_SANITY_PROJECT_ID=16myqbse
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skbgz6GC4IsTzmgLXFLhtbkTu2AdoEAdra1hocb2ShFvRfibxlH52Xtwe2W2JLKe8boRI6K3B1xreMyoe8f9ZOMmHtynvZNyAyCq8bXIqUo1aETMZkjLwYHMm37BjoWvB2b4HJfLi1PaJaMeRfljCaCN0vhVNyyj6u8hOIFjkxq4C0ZzAPbv
RESEND_API_KEY=re_57v4BWeY_C3vYyQWkdiLxyC3BA5QFMvvY
OWNER_EMAIL= kerabatrehat@gmail.com
OWNER_WA_NUMBER=6287777601617
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
